.footer {
  color: rgba(30, 71, 133, 0.87);
  align-items: center;
  text-align: center;
  border-bottom: 0;
  display: flex;
  justify-content: center;
}

.footer h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
